
#my-dropzone{
    padding: 9px;
    background-color: #d8eaf9;
    border: 2px solid #a2b2c1;
    border-radius: 5px;
    min-height: 160px;
}

#my-dropzone span{
    color: #737373;
}

#my-dropzone .dz-preview{
    margin: 7px;
    height: 90px;
    width: 90px;
    background-color: transparent;
}
#my-dropzone .dz-preview .dz-image{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

#my-dropzone .dz-preview .thumb-url{
    padding:3px;
    color:#fff;
    font-size: 11px;
    width: 90px;
}